* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: white;
}

a {
  color: #331a33;
}

img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

main,
section {
  border: solid 1px gray;
  margin: 20px;
  padding: 10px;
  background-color: whitesmoke;
}

form {
  height: 50vh;
  display: grid;
}
form #url {
  padding-left: 10px;
}
